---
> # **신용등급예측 비재무 머신러닝 구축 프로젝트**
> - ## **기업정보상세**
> - ## **상표권정보**
> - ## **디자인권정보**
> - ## **실용신안정보**
> - ## **취업리뷰포탈**
> - ## **특허정보상세**
> - ## **특허정보요약**

---

---
> # **라이브러리 호출**
---

!pip install numpy
!pip install pandas
!pip install seaborn
!pip install matplotlib
!pip install plotly
!pip install scipy
!pip install scikit-learn

In [90]:
import numpy as np
import pandas as pd # 정형데이터 전처리 / 통계 연산 수행
from datetime import timedelta # 시간데이터 처리

import seaborn as sns # 통계적 시각화 연산
import matplotlib as mpl # 시각화 옵션 (외부)
import matplotlib.pyplot as plt # 시각화 옵션 (내부)
import plotly.express as px # 동적 그래프 시각화
import scipy.stats as stats # 통계적 가설 검정 수행

from sklearn.model_selection import train_test_split # 머신러닝 데이터 split
from sklearn.tree import DecisionTreeClassifier # 분류모델
from sklearn.metrics import accuracy_score # 머신러닝 평가
from sklearn.metrics import classification_report # 분류모델의 성능 측정함수

mpl.rc('font',family='Malgun Gothic') # 한글 글꼴 설정
plt.rcParams['axes.unicode_minus'] = False # 음수 오류 해결

---
> # **기업정보 데이터**
> ### - 기업정보상세
---

### **자산총계 결측치인 사업자등록번호 데이터 불러오기**

In [91]:
jasan_null = pd.read_csv("자산총계null.csv",encoding='CP949',index_col=0)
jasan_null

         사업자등록번호  종업원수  종업원그룹   성장단계  산업대분류  기업규모 기업형태 CRI등급  자산총계그룹화
1     1010204456   5.0      8    정체형     46  중소기업   일반    B3        7
2     1048107174  12.0      5  자립성장형     50  중소기업   일반    B2        3
3     1018102731  18.0      3  자립성장형     73  중소기업   일반    C2        5
4     1018606595   3.0      9    정체형     68  중소기업   외감    C3        1
5     1018609361  19.0      3    정체형     75  중소기업   일반    C2        3
...          ...   ...    ...    ...    ...   ...  ...   ...      ...
9236  5258808397   5.0      8  성장보육형     42  중소기업   일반    B3        7
9237  5428803257   4.0      9  성장보육형     42  중소기업   일반    B2        4
9238  5428609023   6.0      7  성장보육형     41  중소기업   일반    B2        5
9239  5428608963   8.0      6  성장보육형     41  중소기업   일반    B2        5
9240  5418809694   3.0      9  성장보육형     63  중소기업   일반    A3        6

[8186 rows x 9 columns]

In [92]:
jasan_all = pd.read_csv("자산총계결측치.csv",encoding='CP949',index_col=0)
jasan_all

         사업자등록번호        종업원수  종업원그룹   성장단계  산업대분류  기업규모 기업형태 CRI등급  자산총계그룹화
0     1050508965   93.868687      1    창업형     96  중소기업   폐업     D        1
1     1010204456    5.000000      8    정체형     46  중소기업   일반    B3        8
2     1048107174   12.000000      5  자립성장형     50  중소기업   일반    B2        3
3     1018102731   18.000000      3  자립성장형     73  중소기업   일반    C2        6
4     1018606595    3.000000      9    정체형     68  중소기업   외감    C3        1
...          ...         ...    ...    ...    ...   ...  ...   ...      ...
9832  2148708573  150.000000      1    창업형     58  중소기업   외감    A3        1
9833  4208704866    7.000000      7    창업형     41  중소기업   일반    A3        5
9834  4618107952    3.000000      9    창업형     41  중소기업   일반    C2        4
9835  2208107776   21.000000      3    창업형     63  중소기업   외감    C2        2
9836  4638108687    5.000000      8    창업형     41  중소기업   외감    B3        5

[9837 rows x 9 columns]

---
> # **비재무 데이터**
> ### - 실용신안정보
> ### - 상표권정보
> ### - 디자인권정보
> ### - 특허정보요약
> ### - 국가R&D과제
> ### - 취업리뷰포탈
---

- ### **실용신안정보,상표권정보,디자인권정보,특허정보요약 읽기**

In [93]:
Utility_Model = pd.read_csv('실용신안정보.csv',index_col = 0)
Trademark_Information_d = pd.read_csv('상표권정보.csv',index_col = 0)
Design_Information = pd.read_csv('디자인권정보.csv',index_col = 0)
Patent_Information = pd.read_csv('특허정보요약.csv')

C:\Users\HJ\AppData\Local\Temp\ipykernel_7876\1558921073.py:3: DtypeWarning: Columns (15,20) have mixed types. Specify dtype option on import or set low_memory=False.
  Design_Information = pd.read_csv('디자인권정보.csv',index_col = 0)

In [94]:
cond1 = Utility_Model['등록상태'] == '등록'
Utility_Model.loc[cond1,'등록상태'] = 1
Utility_Model.loc[~cond1,'등록상태'] = 0
Utility_Model['등록상태'].value_counts()

0    21108
1      912
Name: 등록상태, dtype: int64

In [95]:
cond1 = Trademark_Information_d['출원상태'] == '등록'
Trademark_Information_d.loc[cond1,'출원상태'] = 1
Trademark_Information_d.loc[~cond1,'출원상태'] = 0
Trademark_Information_d['출원상태'].value_counts()

0    18597
1    12441
Name: 출원상태, dtype: int64

In [96]:
cond1 = Design_Information['출원상태'] == '등록'
Design_Information.loc[cond1,'출원상태'] = 1
Design_Information.loc[~cond1,'출원상태'] = 0
Design_Information['출원상태'].value_counts()

0    22325
1    12827
Name: 출원상태, dtype: int64

- ### **각각의 데이터에서 사업자등록번호별 개수를 세준다**

In [97]:
Utility_CI = pd.merge(jasan_null, Utility_Model, how='left', on='사업자등록번호')
Trademark_CI = pd.merge(jasan_null, Trademark_Information_d, how='left', on='사업자등록번호')
Design_CI = pd.merge(jasan_null, Design_Information, how='left', on='사업자등록번호')
Patent_CI = pd.merge(jasan_null, Patent_Information, how='left', on='사업자등록번호')

In [98]:
U_p = Utility_CI.pivot_table(index ='사업자등록번호', values = '등록상태', 
                               aggfunc= 'sum').sort_values(by = '등록상태', ascending= False).reset_index(col_level=0,col_fill='')
U_p = U_p.rename(columns = {'등록상태' : '실용신안'})
U_p

         사업자등록번호  실용신안
0     1140300016    45
1     1238106725    45
2     1298600114    13
3     1058706596     5
4     1268600088     4
...          ...   ...
8181  1428103912     0
8182  1428101742     0
8183  1428101307     0
8184  1420906142     0
8185  8998803795     0

[8186 rows x 2 columns]

In [99]:
T_p = Trademark_CI.pivot_table(index ='사업자등록번호', values = '출원상태', 
                               aggfunc= 'sum').sort_values(by = '출원상태', ascending= False).reset_index(col_level=0,col_fill='')

T_p = T_p.rename(columns = {'출원상태' : '상표권'})
T_p

         사업자등록번호  상표권
0     2118700514    9
1     1341403476    9
2     1388103321    9
3     1048100609    9
4     5138106086    9
...          ...  ...
8181  2128101708    0
8182  2128101441    0
8183  2128101416    0
8184  2128101391    0
8185  3078103603    0

[8186 rows x 2 columns]

In [100]:
D_p = Design_CI.pivot_table(index ='사업자등록번호', values = '출원상태', 
                               aggfunc= 'sum').sort_values(by = '출원상태', ascending= False).reset_index(col_level=0,col_fill='')
D_p = D_p.rename(columns = {'출원상태' : '디자인권'})
D_p

         사업자등록번호  디자인권
0     1278100866    99
1     6768801170    97
2     1058700173    95
3     2118706008    85
4     1212000004    75
...          ...   ...
8181  1808807125     0
8182  1808805807     0
8183  1808106481     0
8184  1798102648     0
8185  8998803795     0

[8186 rows x 2 columns]

In [101]:
P_p = Patent_CI.pivot_table(index ='사업자등록번호', values = '특허명', 
                               aggfunc= 'count').sort_values(by = '특허명', ascending= False).reset_index(col_level=0,col_fill='')
P_p = P_p.rename(columns = {'특허명' : '특허정보'})
P_p

         사업자등록번호  특허정보
0     4188100182    99
1     1378104877    99
2     3018109288    99
3     3148100201    99
4     6218100018    99
...          ...   ...
8181  2648108416     0
8182  2648107867     0
8183  2648107380     0
8184  2648107265     0
8185  1058608518     0

[8186 rows x 2 columns]

- ### **자산null인 사업자등록번호와 서로 합쳐준다**

In [102]:
UT_p = pd.merge(U_p, T_p, how='outer', on='사업자등록번호')
UTD_p = pd.merge(UT_p, D_p, how='outer', on='사업자등록번호')
UTDP_p = pd.merge(UTD_p, P_p, how='outer', on='사업자등록번호')
jasan_null_bi = pd.merge(jasan_null, UTDP_p, how='outer', on='사업자등록번호')
jasan_null_bi

,사업자등록번호,종업원수,종업원그룹,성장단계,산업대분류,기업규모,기업형태,CRI등급,자산총계그룹화,실용신안,상표권,디자인권,특허정보
0,1010204456,5.0,8,정체형,46,중소기업,일반,B3,7,0,0,0,0
1,1048107174,12.0,5,자립성장형,50,중소기업,일반,B2,3,0,0,0,0
2,1018102731,18.0,3,자립성장형,73,중소기업,일반,C2,5,0,3,0,0
3,1018606595,3.0,9,정체형,68,중소기업,외감,C3,1,0,0,0,0
4,1018609361,19.0,3,정체형,75,중소기업,일반,C2,3,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8181,5258808397,5.0,8,성장보육형,42,중소기업,일반,B3,7,0,0,0,1
8182,5428803257,4.0,9,성장보육형,42,중소기업,일반,B2,4,0,0,0,0
8183,5428609023,6.0,7,성장보육형,41,중소기업,일반,B2,5,0,0,0,0
8184,5428608963,8.0,6,성장보육형,41,중소기업,일반,B2,5,0,0,0,4
8185,5418809694,3.0,9,성장보육형,63,중소기업,일반,A3,6,0,0,0,0

In [103]:
Utility_CI_a = pd.merge(jasan_all, Utility_Model, how='left', on='사업자등록번호')
Trademark_CI_a = pd.merge(jasan_all, Trademark_Information_d, how='left', on='사업자등록번호')
Design_CI_a = pd.merge(jasan_all, Design_Information, how='left', on='사업자등록번호')
Patent_CI_a = pd.merge(jasan_all, Patent_Information, how='left', on='사업자등록번호')
U_p_a = Utility_CI_a.pivot_table(index ='사업자등록번호', values = '등록상태', 
                               aggfunc= 'sum').sort_values(by = '등록상태', ascending= False).reset_index(col_level=0,col_fill='')
U_p_a = U_p_a.rename(columns = {'등록상태' : '실용신안'})
T_p_a = Trademark_CI_a.pivot_table(index ='사업자등록번호', values = '출원상태', 
                               aggfunc= 'sum').sort_values(by = '출원상태', ascending= False).reset_index(col_level=0,col_fill='')

T_p_a = T_p_a.rename(columns = {'출원상태' : '상표권'})
D_p_a = Design_CI_a.pivot_table(index ='사업자등록번호', values = '출원상태', 
                               aggfunc= 'sum').sort_values(by = '출원상태', ascending= False).reset_index(col_level=0,col_fill='')
D_p_a = D_p_a.rename(columns = {'출원상태' : '디자인권'})
P_p_a = Patent_CI_a.pivot_table(index ='사업자등록번호', values = '특허명', 
                               aggfunc= 'count').sort_values(by = '특허명', ascending= False).reset_index(col_level=0,col_fill='')
P_p_a = P_p_a.rename(columns = {'특허명' : '특허정보'})

In [104]:
UT_p_a = pd.merge(U_p_a, T_p_a, how='outer', on='사업자등록번호')
UTD_p_a = pd.merge(UT_p_a, D_p_a, how='outer', on='사업자등록번호')
UTDP_p_a = pd.merge(UTD_p_a, P_p_a, how='outer', on='사업자등록번호')
jasan_all_bi = pd.merge(jasan_all, UTDP_p_a, how='outer', on='사업자등록번호')
jasan_all_bi

,사업자등록번호,종업원수,종업원그룹,성장단계,산업대분류,기업규모,기업형태,CRI등급,자산총계그룹화,실용신안,상표권,디자인권,특허정보
0,1050508965,93.868687,1,창업형,96,중소기업,폐업,D,1,1,7,82,7
1,1010204456,5.000000,8,정체형,46,중소기업,일반,B3,8,0,0,0,0
2,1048107174,12.000000,5,자립성장형,50,중소기업,일반,B2,3,0,0,0,0
3,1018102731,18.000000,3,자립성장형,73,중소기업,일반,C2,6,0,3,0,0
4,1018606595,3.000000,9,정체형,68,중소기업,외감,C3,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9832,2148708573,150.000000,1,창업형,58,중소기업,외감,A3,1,0,8,0,1
9833,4208704866,7.000000,7,창업형,41,중소기업,일반,A3,5,0,3,0,0
9834,4618107952,3.000000,9,창업형,41,중소기업,일반,C2,4,0,0,0,0
9835,2208107776,21.000000,3,창업형,63,중소기업,외감,C2,2,0,9,0,2
9836,4638108687,5.000000,8,창업형,41,중소기업,외감,B3,5,0,0,0,0

- ### **취업포탈리뷰 불러오기**

In [105]:
Review = pd.read_csv('취업포탈리뷰.csv',index_col = 0)
Review = Review[['사업자등록번호', '종합점수',
       '승진기회점수', '복지및급여점수', '업무생명균형점수', '기업문화점수', '경영진점수']]
Review

          사업자등록번호  종합점수  승진기회점수  복지및급여점수  업무생명균형점수  기업문화점수  경영진점수
0      2078102181   NaN     NaN      NaN       NaN     NaN    NaN
1      3128106841   NaN     NaN      NaN       NaN     NaN    NaN
2      1048100971  60.0    60.0     40.0      40.0    60.0   60.0
3      1048100971  80.0    60.0     40.0      80.0    80.0   40.0
4      1048100971  60.0   100.0     60.0     100.0    40.0   40.0
...           ...   ...     ...      ...       ...     ...    ...
34442  7068605150   NaN     NaN      NaN       NaN     NaN    NaN
34443  7068608305   NaN     NaN      NaN       NaN     NaN    NaN
34444  7078103270   NaN     NaN      NaN       NaN     NaN    NaN
34445  7078800286   NaN     NaN      NaN       NaN     NaN    NaN
34446  7088803730   NaN     NaN      NaN       NaN     NaN    NaN

[34447 rows x 7 columns]

In [106]:
R_p = Review.pivot_table(index='사업자등록번호',values=['종합점수','승진기회점수','복지및급여점수','업무생명균형점수','기업문화점수','경영진점수'],aggfunc='mean').reset_index()
R_p

,사업자등록번호,경영진점수,기업문화점수,복지및급여점수,승진기회점수,업무생명균형점수,종합점수
0,1011106242,100.000000,100.000000,80.000000,80.000000,100.000000,80.000000
1,1018100030,20.000000,26.666667,37.777778,35.555556,40.000000,20.000000
2,1018100096,40.000000,57.777778,40.000000,48.888889,68.888889,51.111111
3,1018100111,33.333333,35.555556,48.888889,44.444444,53.333333,42.222222
4,1018100198,45.000000,55.000000,50.000000,45.000000,52.500000,45.000000
...,...,...,...,...,...,...,...
3217,8838800993,20.000000,20.000000,40.000000,20.000000,60.000000,20.000000
3218,8918100430,40.000000,42.222222,48.888889,55.555556,46.666667,51.111111
3219,8928604248,73.333333,53.333333,53.333333,60.000000,73.333333,66.666667
3220,8938103184,40.000000,46.666667,42.222222,46.666667,46.666667,44.444444
3221,8948604603,80.000000,40.000000,50.000000,70.000000,70.000000,70.000000

In [107]:
jasan_null_bi = pd.merge(jasan_null_bi, R_p, how='left', on='사업자등록번호')
jasan_null_bi

,사업자등록번호,종업원수,종업원그룹,성장단계,산업대분류,기업규모,기업형태,CRI등급,자산총계그룹화,실용신안,상표권,디자인권,특허정보,경영진점수,기업문화점수,복지및급여점수,승진기회점수,업무생명균형점수,종합점수
0,1010204456,5.0,8,정체형,46,중소기업,일반,B3,7,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,1048107174,12.0,5,자립성장형,50,중소기업,일반,B2,3,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,1018102731,18.0,3,자립성장형,73,중소기업,일반,C2,5,0,3,0,0,40.0,66.666667,40.0,64.444444,37.777778,51.111111
3,1018606595,3.0,9,정체형,68,중소기업,외감,C3,1,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,1018609361,19.0,3,정체형,75,중소기업,일반,C2,3,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8181,5258808397,5.0,8,성장보육형,42,중소기업,일반,B3,7,0,0,0,1,NaN,NaN,NaN,NaN,NaN,NaN
8182,5428803257,4.0,9,성장보육형,42,중소기업,일반,B2,4,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
8183,5428609023,6.0,7,성장보육형,41,중소기업,일반,B2,5,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
8184,5428608963,8.0,6,성장보육형,41,중소기업,일반,B2,5,0,0,0,4,NaN,NaN,NaN,NaN,NaN,NaN
8185,5418809694,3.0,9,성장보육형,63,중소기업,일반,A3,6,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [108]:
jasan_null_bi.isnull().sum()

사업자등록번호        0
종업원수           0
종업원그룹          0
성장단계           0
산업대분류          0
기업규모           0
기업형태           0
CRI등급          0
자산총계그룹화        0
실용신안           0
상표권            0
디자인권           0
특허정보           0
경영진점수       5413
기업문화점수      5413
복지및급여점수     5413
승진기회점수      5413
업무생명균형점수    5413
종합점수        5413
dtype: int64

In [109]:
jasan_all_bi = pd.merge(jasan_all_bi, R_p, how='left', on='사업자등록번호')
jasan_all_bi

,사업자등록번호,종업원수,종업원그룹,성장단계,산업대분류,기업규모,기업형태,CRI등급,자산총계그룹화,실용신안,상표권,디자인권,특허정보,경영진점수,기업문화점수,복지및급여점수,승진기회점수,업무생명균형점수,종합점수
0,1050508965,93.868687,1,창업형,96,중소기업,폐업,D,1,1,7,82,7,NaN,NaN,NaN,NaN,NaN,NaN
1,1010204456,5.000000,8,정체형,46,중소기업,일반,B3,8,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,1048107174,12.000000,5,자립성장형,50,중소기업,일반,B2,3,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,1018102731,18.000000,3,자립성장형,73,중소기업,일반,C2,6,0,3,0,0,40.000000,66.666667,40.000000,64.444444,37.777778,51.111111
4,1018606595,3.000000,9,정체형,68,중소기업,외감,C3,1,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9832,2148708573,150.000000,1,창업형,58,중소기업,외감,A3,1,0,8,0,1,51.111111,62.222222,44.444444,64.444444,62.222222,62.222222
9833,4208704866,7.000000,7,창업형,41,중소기업,일반,A3,5,0,3,0,0,NaN,NaN,NaN,NaN,NaN,NaN
9834,4618107952,3.000000,9,창업형,41,중소기업,일반,C2,4,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
9835,2208107776,21.000000,3,창업형,63,중소기업,외감,C2,2,0,9,0,2,NaN,NaN,NaN,NaN,NaN,NaN
9836,4638108687,5.000000,8,창업형,41,중소기업,외감,B3,5,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [110]:
jasan_all_bi.isnull().sum()

사업자등록번호        0
종업원수           0
종업원그룹          0
성장단계           0
산업대분류          0
기업규모           0
기업형태           0
CRI등급          0
자산총계그룹화        0
실용신안           0
상표권            0
디자인권           0
특허정보           0
경영진점수       6636
기업문화점수      6636
복지및급여점수     6636
승진기회점수      6636
업무생명균형점수    6636
종합점수        6636
dtype: int64

- ### **jason_null_bi - 점수데이터 결측치 산업대분류로 처리**

In [111]:
stats.kruskal(jasan_null_bi.dropna(subset='경영진점수').loc[jasan_null_bi.CRI등급.isin(['A1','A2','A3'])].경영진점수,
jasan_null_bi.dropna(subset='경영진점수').loc[jasan_null_bi.CRI등급.isin(['B1','B2','B3'])].경영진점수,
jasan_null_bi.dropna(subset='경영진점수').loc[jasan_null_bi.CRI등급.isin(['C1','C2','C3'])].경영진점수,
jasan_null_bi.dropna(subset='경영진점수').loc[jasan_null_bi.CRI등급.isin(['D'])].경영진점수)

KruskalResult(statistic=0.8614580312616609, pvalue=0.8347174735764569)

In [112]:
print(jasan_null_bi.dropna(subset='경영진점수').loc[jasan_null_bi.CRI등급.isin(['A1','A2','A3'])].경영진점수.mean())
print(jasan_null_bi.dropna(subset='경영진점수').loc[jasan_null_bi.CRI등급.isin(['B1','B2','B3'])].경영진점수.mean())
print(jasan_null_bi.dropna(subset='경영진점수').loc[jasan_null_bi.CRI등급.isin(['C1','C2','C3'])].경영진점수.mean())
print(jasan_null_bi.dropna(subset='경영진점수').loc[jasan_null_bi.CRI등급.isin(['D'])].경영진점수.mean())

47.83517655302684
46.921594153248826
48.21549490412854
45.53650793650794

In [113]:
c = jasan_null_bi.dropna(subset='경영진점수').loc[jasan_null_bi.산업대분류.isin([71, 20, 61, 62, 15, 70, 22, 58, 41, 26, 42, 75, 63, 85, 94, 10, 47,
            59, 73, 28, 76, 46, 29, 56, 38, 60, 68, 27])]
stats.kruskal(c.loc[jasan_null_bi.산업대분류 == 71].경영진점수,
             c.loc[jasan_null_bi.산업대분류 == 20].경영진점수,
             c.loc[jasan_null_bi.산업대분류 == 61].경영진점수,
             c.loc[jasan_null_bi.산업대분류 == 62].경영진점수,
             c.loc[jasan_null_bi.산업대분류 == 15].경영진점수,
             c.loc[jasan_null_bi.산업대분류 == 70].경영진점수,
             c.loc[jasan_null_bi.산업대분류 == 22].경영진점수,
             c.loc[jasan_null_bi.산업대분류 == 58].경영진점수,
             c.loc[jasan_null_bi.산업대분류 == 41].경영진점수,
             c.loc[jasan_null_bi.산업대분류 == 26].경영진점수,
             c.loc[jasan_null_bi.산업대분류 == 42].경영진점수,
             c.loc[jasan_null_bi.산업대분류 == 75].경영진점수,
             c.loc[jasan_null_bi.산업대분류 == 63].경영진점수,
             c.loc[jasan_null_bi.산업대분류 == 85].경영진점수,
             c.loc[jasan_null_bi.산업대분류 == 94].경영진점수,
             c.loc[jasan_null_bi.산업대분류 == 10].경영진점수,
             c.loc[jasan_null_bi.산업대분류 == 47].경영진점수,
             c.loc[jasan_null_bi.산업대분류 == 59].경영진점수,
             c.loc[jasan_null_bi.산업대분류 == 73].경영진점수,
             c.loc[jasan_null_bi.산업대분류 == 28].경영진점수,
             c.loc[jasan_null_bi.산업대분류 == 76].경영진점수,
             c.loc[jasan_null_bi.산업대분류 == 46].경영진점수,
             c.loc[jasan_null_bi.산업대분류 == 29].경영진점수,
             c.loc[jasan_null_bi.산업대분류 == 56].경영진점수,
             c.loc[jasan_null_bi.산업대분류 == 38].경영진점수,
             c.loc[jasan_null_bi.산업대분류 == 60].경영진점수,
             c.loc[jasan_null_bi.산업대분류 == 68].경영진점수,
             c.loc[jasan_null_bi.산업대분류 == 27].경영진점수)

KruskalResult(statistic=81.09367205452406, pvalue=2.5756327005646813e-07)

In [114]:
jasan_all_bi.dropna(subset='경영진점수').산업대분류.value_counts().index.tolist()[:6]

[58, 62, 42, 46, 26, 63]

In [115]:
a = jasan_all_bi.dropna(subset='경영진점수').산업대분류.value_counts().index.tolist()[:6]
c = jasan_all_bi.dropna(subset='경영진점수').loc[jasan_all_bi.산업대분류.isin(a)]
l = []
for i in range(len(a)):
    l.append(c.loc[jasan_all_bi.산업대분류 == a[i]].경영진점수)

print(len(l))
stats.kruskal(l[0],l[1],l[2],l[3],l[4],l[5])

6

KruskalResult(statistic=61.39128839320968, pvalue=6.267217170926958e-12)

In [116]:
jasan_null_bi.산업대분류

0       46
1       50
2       73
3       68
4       75
        ..
8181    42
8182    42
8183    41
8184    41
8185    63
Name: 산업대분류, Length: 8186, dtype: int64

In [117]:
jasan_null_bi.pivot_table(index='산업대분류', values='경영진점수',aggfunc=['mean','count'])

            mean count
           경영진점수 경영진점수
산업대분류
10     42.039242    18
13     46.222222     5
14     36.000000    15
15     25.714286     2
16     31.111111     1
...          ...   ...
11           NaN     0
39           NaN     0
55           NaN     0
65           NaN     0
66           NaN     0

[62 rows x 2 columns]

In [118]:
jasan_all_bi.pivot_table(index='산업대분류', values='경영진점수',aggfunc=['mean','count'])

            mean count
           경영진점수 경영진점수
산업대분류
10     42.184524    20
13     46.222222     5
14     36.000000    15
15     37.142857     3
16     31.111111     1
...          ...   ...
11           NaN     0
39           NaN     0
55           NaN     0
65           NaN     0
66           NaN     0

[62 rows x 2 columns]

In [119]:
jasan_null_bi.isnull().sum()

사업자등록번호        0
종업원수           0
종업원그룹          0
성장단계           0
산업대분류          0
기업규모           0
기업형태           0
CRI등급          0
자산총계그룹화        0
실용신안           0
상표권            0
디자인권           0
특허정보           0
경영진점수       5413
기업문화점수      5413
복지및급여점수     5413
승진기회점수      5413
업무생명균형점수    5413
종합점수        5413
dtype: int64

In [120]:
B = jasan_null_bi.dropna(subset='경영진점수').pivot_table(index='산업대분류',values="경영진점수",aggfunc='mean').sort_values(by='경영진점수',ascending=False).index.tolist()
for i in range(len(B)):
    jasan_null_bi.loc[(jasan_null_bi.경영진점수.isnull()) & (jasan_null_bi.산업대분류 == B[i]),'경영진점수'] = jasan_null_bi[jasan_null_bi.산업대분류 == B[i]].경영진점수.mean()
    jasan_null_bi.loc[(jasan_null_bi.기업문화점수.isnull()) & (jasan_null_bi.산업대분류 == B[i]),'기업문화점수'] = jasan_null_bi[jasan_null_bi.산업대분류 == B[i]].기업문화점수.mean()
    jasan_null_bi.loc[(jasan_null_bi.복지및급여점수.isnull()) & (jasan_null_bi.산업대분류 == B[i]),'복지및급여점수'] = jasan_null_bi[jasan_null_bi.산업대분류 == B[i]].복지및급여점수.mean()
    jasan_null_bi.loc[(jasan_null_bi.승진기회점수.isnull()) & (jasan_null_bi.산업대분류 == B[i]),'승진기회점수'] = jasan_null_bi[jasan_null_bi.산업대분류 == B[i]].승진기회점수.mean()
    jasan_null_bi.loc[(jasan_null_bi.업무생명균형점수.isnull()) & (jasan_null_bi.산업대분류 == B[i]),'업무생명균형점수'] = jasan_null_bi[jasan_null_bi.산업대분류 == B[i]].업무생명균형점수.mean()
    jasan_null_bi.loc[(jasan_null_bi.종합점수.isnull()) & (jasan_null_bi.산업대분류 == B[i]),'종합점수'] = jasan_null_bi[jasan_null_bi.산업대분류 == B[i]].종합점수.mean()

jasan_null_bi.isnull().sum()

사업자등록번호      0
종업원수         0
종업원그룹        0
성장단계         0
산업대분류        0
기업규모         0
기업형태         0
CRI등급        0
자산총계그룹화      0
실용신안         0
상표권          0
디자인권         0
특허정보         0
경영진점수       14
기업문화점수      14
복지및급여점수     14
승진기회점수      14
업무생명균형점수    14
종합점수        14
dtype: int64

In [121]:
B = jasan_all_bi.dropna(subset='경영진점수').pivot_table(index='산업대분류',values="경영진점수",aggfunc='mean').sort_values(by='경영진점수',ascending=False).index.tolist()
for i in range(len(B)):
    jasan_all_bi.loc[(jasan_all_bi.경영진점수.isnull()) & (jasan_all_bi.산업대분류 == B[i]),'경영진점수'] = jasan_all_bi[jasan_all_bi.산업대분류 == B[i]].경영진점수.mean()
    jasan_all_bi.loc[(jasan_all_bi.기업문화점수.isnull()) & (jasan_all_bi.산업대분류 == B[i]),'기업문화점수'] = jasan_all_bi[jasan_all_bi.산업대분류 == B[i]].기업문화점수.mean()
    jasan_all_bi.loc[(jasan_all_bi.복지및급여점수.isnull()) & (jasan_all_bi.산업대분류 == B[i]),'복지및급여점수'] = jasan_all_bi[jasan_all_bi.산업대분류 == B[i]].복지및급여점수.mean()
    jasan_all_bi.loc[(jasan_all_bi.승진기회점수.isnull()) & (jasan_all_bi.산업대분류 == B[i]),'승진기회점수'] = jasan_all_bi[jasan_all_bi.산업대분류 == B[i]].승진기회점수.mean()
    jasan_all_bi.loc[(jasan_all_bi.업무생명균형점수.isnull()) & (jasan_all_bi.산업대분류 == B[i]),'업무생명균형점수'] = jasan_all_bi[jasan_all_bi.산업대분류 == B[i]].업무생명균형점수.mean()
    jasan_all_bi.loc[(jasan_all_bi.종합점수.isnull()) & (jasan_all_bi.산업대분류 == B[i]),'종합점수'] = jasan_all_bi[jasan_all_bi.산업대분류 == B[i]].종합점수.mean()

jasan_all_bi.isnull().sum()

사업자등록번호      0
종업원수         0
종업원그룹        0
성장단계         0
산업대분류        0
기업규모         0
기업형태         0
CRI등급        0
자산총계그룹화      0
실용신안         0
상표권          0
디자인권         0
특허정보         0
경영진점수       14
기업문화점수      14
복지및급여점수     14
승진기회점수      14
업무생명균형점수    14
종합점수        14
dtype: int64

In [122]:
jasan_null_bi.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8186 entries, 0 to 8185
Data columns (total 19 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   사업자등록번호   8186 non-null   int64
 1   종업원수      8186 non-null   float64
 2   종업원그룹     8186 non-null   int64
 3   성장단계      8186 non-null   object
 4   산업대분류     8186 non-null   int64
 5   기업규모      8186 non-null   object
 6   기업형태      8186 non-null   object
 7   CRI등급     8186 non-null   object
 8   자산총계그룹화   8186 non-null   int64
 9   실용신안      8186 non-null   int64
 10  상표권       8186 non-null   int64
 11  디자인권      8186 non-null   int64
 12  특허정보      8186 non-null   int64
 13  경영진점수     8172 non-null   float64
 14  기업문화점수    8172 non-null   float64
 15  복지및급여점수   8172 non-null   float64
 16  승진기회점수    8172 non-null   float64
 17  업무생명균형점수  8172 non-null   float64
 18  종합점수      8172 non-null   float64
dtypes: float64(7), int64(8), object(4)
memory usage: 1.5+ MB

- ### **jasan_all_bi - 점수데이터 결측치 산업대분류로 처리**

In [123]:
c = jasan_all_bi.dropna(subset='경영진점수').loc[jasan_all_bi.산업대분류.isin([71, 20, 61, 62, 15, 70, 22, 58, 41, 26, 42, 75, 63, 85, 94, 10, 47,
            59, 73, 28, 76, 46, 29, 56, 38, 60, 68, 27])]
stats.kruskal(c.loc[jasan_all_bi.산업대분류 == 71].경영진점수,
             c.loc[jasan_all_bi.산업대분류 == 20].경영진점수,
             c.loc[jasan_all_bi.산업대분류 == 61].경영진점수,
             c.loc[jasan_all_bi.산업대분류 == 62].경영진점수,
             c.loc[jasan_all_bi.산업대분류 == 15].경영진점수,
             c.loc[jasan_all_bi.산업대분류 == 70].경영진점수,
             c.loc[jasan_all_bi.산업대분류 == 22].경영진점수,
             c.loc[jasan_all_bi.산업대분류 == 58].경영진점수,
             c.loc[jasan_all_bi.산업대분류 == 41].경영진점수,
             c.loc[jasan_all_bi.산업대분류 == 26].경영진점수,
             c.loc[jasan_all_bi.산업대분류 == 42].경영진점수,
             c.loc[jasan_all_bi.산업대분류 == 75].경영진점수,
             c.loc[jasan_all_bi.산업대분류 == 63].경영진점수,
             c.loc[jasan_all_bi.산업대분류 == 85].경영진점수,
             c.loc[jasan_all_bi.산업대분류 == 94].경영진점수,
             c.loc[jasan_all_bi.산업대분류 == 10].경영진점수,
             c.loc[jasan_all_bi.산업대분류 == 47].경영진점수,
             c.loc[jasan_all_bi.산업대분류 == 59].경영진점수,
             c.loc[jasan_all_bi.산업대분류 == 73].경영진점수,
             c.loc[jasan_all_bi.산업대분류 == 28].경영진점수,
             c.loc[jasan_all_bi.산업대분류 == 76].경영진점수,
             c.loc[jasan_all_bi.산업대분류 == 46].경영진점수,
             c.loc[jasan_all_bi.산업대분류 == 29].경영진점수,
             c.loc[jasan_all_bi.산업대분류 == 56].경영진점수,
             c.loc[jasan_all_bi.산업대분류 == 38].경영진점수,
             c.loc[jasan_all_bi.산업대분류 == 60].경영진점수,
             c.loc[jasan_all_bi.산업대분류 == 68].경영진점수,
             c.loc[jasan_all_bi.산업대분류 == 27].경영진점수)

KruskalResult(statistic=2700.719136042069, pvalue=0.0)

In [124]:
B = jasan_all_bi.dropna(subset='경영진점수').pivot_table(index='산업대분류',values="경영진점수",aggfunc='mean').sort_values(by='경영진점수',ascending=False).index.tolist()
for i in range(len(B)):
    jasan_all_bi.loc[(jasan_all_bi.경영진점수.isnull()) & (jasan_all_bi.산업대분류 == B[i]),'경영진점수'] = jasan_all_bi[jasan_all_bi.산업대분류 == B[i]].경영진점수.mean()
    jasan_all_bi.loc[(jasan_all_bi.기업문화점수.isnull()) & (jasan_all_bi.산업대분류 == B[i]),'기업문화점수'] = jasan_all_bi[jasan_all_bi.산업대분류 == B[i]].기업문화점수.mean()
    jasan_all_bi.loc[(jasan_all_bi.복지및급여점수.isnull()) & (jasan_all_bi.산업대분류 == B[i]),'복지및급여점수'] = jasan_all_bi[jasan_all_bi.산업대분류 == B[i]].복지및급여점수.mean()
    jasan_all_bi.loc[(jasan_all_bi.승진기회점수.isnull()) & (jasan_all_bi.산업대분류 == B[i]),'승진기회점수'] = jasan_all_bi[jasan_all_bi.산업대분류 == B[i]].승진기회점수.mean()
    jasan_all_bi.loc[(jasan_all_bi.업무생명균형점수.isnull()) & (jasan_all_bi.산업대분류 == B[i]),'업무생명균형점수'] = jasan_all_bi[jasan_all_bi.산업대분류 == B[i]].업무생명균형점수.mean()
    jasan_all_bi.loc[(jasan_all_bi.종합점수.isnull()) & (jasan_all_bi.산업대분류 == B[i]),'종합점수'] = jasan_all_bi[jasan_all_bi.산업대분류 == B[i]].종합점수.mean()

jasan_all_bi.isnull().sum()

사업자등록번호      0
종업원수         0
종업원그룹        0
성장단계         0
산업대분류        0
기업규모         0
기업형태         0
CRI등급        0
자산총계그룹화      0
실용신안         0
상표권          0
디자인권         0
특허정보         0
경영진점수       14
기업문화점수      14
복지및급여점수     14
승진기회점수      14
업무생명균형점수    14
종합점수        14
dtype: int64

In [125]:
jasan_all_bi

,사업자등록번호,종업원수,종업원그룹,성장단계,산업대분류,기업규모,기업형태,CRI등급,자산총계그룹화,실용신안,상표권,디자인권,특허정보,경영진점수,기업문화점수,복지및급여점수,승진기회점수,업무생명균형점수,종합점수
0,1050508965,93.868687,1,창업형,96,중소기업,폐업,D,1,1,7,82,7,47.407407,52.486772,65.925926,80.740741,79.365079,50.264550
1,1010204456,5.000000,8,정체형,46,중소기업,일반,B3,8,0,0,0,0,44.822270,50.686869,46.259019,48.822300,54.745821,50.537819
2,1048107174,12.000000,5,자립성장형,50,중소기업,일반,B2,3,0,0,0,0,38.888889,53.333333,48.888889,44.444444,37.777778,53.333333
3,1018102731,18.000000,3,자립성장형,73,중소기업,일반,C2,6,0,3,0,0,40.000000,66.666667,40.000000,64.444444,37.777778,51.111111
4,1018606595,3.000000,9,정체형,68,중소기업,외감,C3,1,0,0,0,0,47.361111,52.123016,47.678571,51.071429,52.301587,52.361111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9832,2148708573,150.000000,1,창업형,58,중소기업,외감,A3,1,0,8,0,1,51.111111,62.222222,44.444444,64.444444,62.222222,62.222222
9833,4208704866,7.000000,7,창업형,41,중소기업,일반,A3,5,0,3,0,0,48.432668,51.905615,50.209251,53.091398,51.206691,53.945639
9834,4618107952,3.000000,9,창업형,41,중소기업,일반,C2,4,0,0,0,0,48.432668,51.905615,50.209251,53.091398,51.206691,53.945639
9835,2208107776,21.000000,3,창업형,63,중소기업,외감,C2,2,0,9,0,2,51.517857,56.812713,52.792517,57.021046,62.817744,57.184524
9836,4638108687,5.000000,8,창업형,41,중소기업,외감,B3,5,0,0,0,0,48.432668,51.905615,50.209251,53.091398,51.206691,53.945639

---
> # **비재무머신러닝 만들기**
---

In [126]:
!pip install imblearn

Requirement already satisfied: imblearn in c:\users\hj\anaconda3\lib\site-packages (0.0)
Requirement already satisfied: imbalanced-learn in c:\users\hj\anaconda3\lib\site-packages (from imblearn) (0.10.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\hj\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (2.2.0)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\hj\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.0.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\hj\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.21.5)
Requirement already satisfied: scipy>=1.3.2 in c:\users\hj\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.9.1)
Requirement already satisfied: joblib>=1.1.1 in c:\users\hj\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.2.0)

In [127]:
from sklearn.model_selection import train_test_split # 학습 검증 데이터 분할
from imblearn.pipeline import make_pipeline # 학습 + 특성공학 파이프라인 구축 
from sklearn.compose import make_column_transformer # 각 항목의 타입별로 파이프 분할

from sklearn.impute import SimpleImputer # 결측치 처리
from sklearn.preprocessing import MinMaxScaler # 숫자 스케일링
from sklearn.preprocessing import OneHotEncoder # 문자 데이터 인쾽
from imblearn.over_sampling import SMOTE # 불균형 데이터 처리

from sklearn.ensemble import RandomForestClassifier # 랜덤포레스트 (Bagging)
from sklearn.ensemble import GradientBoostingClassifier # 그레디언트 Boosting
from sklearn.tree import DecisionTreeClassifier # 의사결정모형
from sklearn.model_selection import GridSearchCV #교차검증 + 하이퍼 파라미터 튜닝
from sklearn.metrics import classification_report # 평가


from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import SimpleImputer, IterativeImputer

In [128]:
jasan_null_bi.산업대분류 = jasan_null_bi.산업대분류.astype('object')
jasan_null_bi.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8186 entries, 0 to 8185
Data columns (total 19 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   사업자등록번호   8186 non-null   int64
 1   종업원수      8186 non-null   float64
 2   종업원그룹     8186 non-null   int64
 3   성장단계      8186 non-null   object
 4   산업대분류     8186 non-null   object
 5   기업규모      8186 non-null   object
 6   기업형태      8186 non-null   object
 7   CRI등급     8186 non-null   object
 8   자산총계그룹화   8186 non-null   int64
 9   실용신안      8186 non-null   int64
 10  상표권       8186 non-null   int64
 11  디자인권      8186 non-null   int64
 12  특허정보      8186 non-null   int64
 13  경영진점수     8172 non-null   float64
 14  기업문화점수    8172 non-null   float64
 15  복지및급여점수   8172 non-null   float64
 16  승진기회점수    8172 non-null   float64
 17  업무생명균형점수  8172 non-null   float64
 18  종합점수      8172 non-null   float64
dtypes: float64(7), int64(7), object(5)
memory usage: 1.5+ MB

In [129]:
jasan_null_bi.columns

Index(['사업자등록번호', '종업원수', '종업원그룹', '성장단계', '산업대분류', '기업규모', '기업형태', 'CRI등급',
       '자산총계그룹화', '실용신안', '상표권', '디자인권', '특허정보', '경영진점수', '기업문화점수', '복지및급여점수',
       '승진기회점수', '업무생명균형점수', '종합점수'],
      dtype='object')

In [130]:
jasan_null_bi.loc[jasan_null_bi.CRI등급 == 'A1','target'] = 0
jasan_null_bi.loc[jasan_null_bi.CRI등급 == 'A2','target'] = 1
jasan_null_bi.loc[jasan_null_bi.CRI등급 == 'A3','target'] = 2
jasan_null_bi.loc[jasan_null_bi.CRI등급 == 'B1','target'] = 3
jasan_null_bi.loc[jasan_null_bi.CRI등급 == 'B2','target'] = 4
jasan_null_bi.loc[jasan_null_bi.CRI등급 == 'B3','target'] = 5
jasan_null_bi.loc[jasan_null_bi.CRI등급 == 'C1','target'] = 6
jasan_null_bi.loc[jasan_null_bi.CRI등급 == 'C2','target'] = 7
jasan_null_bi.loc[jasan_null_bi.CRI등급 == 'C3','target'] = 8
jasan_null_bi.loc[jasan_null_bi.CRI등급 == 'D','target'] = 9

In [131]:
X = jasan_null_bi[['사업자등록번호','종업원그룹', '산업대분류', '성장단계', '기업규모', '기업형태', '실용신안', '상표권', '디자인권', '특허정보', '경영진점수',
       '기업문화점수', '복지및급여점수', '승진기회점수', '업무생명균형점수', '종합점수']]
Y = jasan_null_bi['target']

In [132]:
jasan_all_bi.loc[jasan_all_bi.CRI등급 == 'A1','target'] = 0
jasan_all_bi.loc[jasan_all_bi.CRI등급 == 'A2','target'] = 1
jasan_all_bi.loc[jasan_all_bi.CRI등급 == 'A3','target'] = 2
jasan_all_bi.loc[jasan_all_bi.CRI등급 == 'B1','target'] = 3
jasan_all_bi.loc[jasan_all_bi.CRI등급 == 'B2','target'] = 4
jasan_all_bi.loc[jasan_all_bi.CRI등급 == 'B3','target'] = 5
jasan_all_bi.loc[jasan_all_bi.CRI등급 == 'C1','target'] = 6
jasan_all_bi.loc[jasan_all_bi.CRI등급 == 'C2','target'] = 7
jasan_all_bi.loc[jasan_all_bi.CRI등급 == 'C3','target'] = 8
jasan_all_bi.loc[jasan_all_bi.CRI등급 == 'D','target'] = 9

In [133]:
X_a = jasan_all_bi[['사업자등록번호','종업원그룹', '산업대분류', '성장단계', '기업규모', '기업형태', '실용신안', '상표권', '디자인권', '특허정보', '경영진점수',
       '기업문화점수', '복지및급여점수', '승진기회점수', '업무생명균형점수', '종합점수']]
Y_a = jasan_all_bi['target']

- ### **데이터 전처리**

In [134]:
def pipe_model_func(model):
    numeric_pipe = make_pipeline( SimpleImputer(strategy='mean'),MinMaxScaler())
    category_pipe = make_pipeline( SimpleImputer(strategy='most_frequent'), OneHotEncoder(handle_unknown='ignore'))
    numeric_list = X.describe().columns.tolist()
    category_list = X.describe(include='object').columns.tolist()
    preprocessing_pipe = make_column_transformer((numeric_pipe, numeric_list),
                                             (category_pipe, category_list))
    model_pipe=make_pipeline(preprocessing_pipe,SMOTE(),model)
    return model_pipe
numeric_list = X.describe().columns.tolist()

- ### **데이터 분할**

In [135]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, random_state=1234,test_size=0.3)

In [136]:
X_a_train, X_a_test, Y_a_train, Y_a_test = train_test_split(X_a,Y_a, random_state=1234,test_size=0.3)

- ### **평가성능지표**

In [137]:
def evaluation_func(best_model):
    Y_train_pred = best_model.predict(X_train)
    Y_test_pred = best_model.predict(X_test)
    print('학습능력평가')
    print(classification_report(Y_train,Y_train_pred))
    print('일반화능력평가')
    print(classification_report(Y_test, Y_test_pred))

- ### **의사결정트리**

In [138]:
model_decision = pipe_model_func(DecisionTreeClassifier())
hyperparameter_dict = {'decisiontreeclassifier__max_depth':range(5,15)}
grid_model = GridSearchCV(model_decision,cv=5,param_grid = hyperparameter_dict,
                         scoring='accuracy',n_jobs=-1)
grid_model.fit(X_train,Y_train)
#grid_model.get_params().keys()
best_tree = grid_model.best_estimator_
evaluation_func(best_tree)

KeyboardInterrupt:

- ### **랜덤포레스트**

In [ ]:
model_random = pipe_model_func(RandomForestClassifier())
hyperparameter_dict = {'randomforestclassifier__max_depth':range(5,10),
                       'randomforestclassifier__min_samples_split' : [10,30,50],
                       'randomforestclassifier__criterion':['gini','entropy'],
                       'randomforestclassifier__n_estimators' :[50,100,150]}
grid_model = GridSearchCV(model_random, param_grid = hyperparameter_dict,cv=3,
                          scoring='accuracy',n_jobs=-1)
grid_model.fit(X_train,Y_train)
best_randomforest = grid_model.best_estimator_
evaluation_func(best_randomforest)

- ### **XG부스트**

In [139]:
!pip install xgboost

Collecting xgboost
  Downloading xgboost-1.7.3-py3-none-win_amd64.whl (89.1 MB)
     ---------------------------------------- 89.1/89.1 MB 6.3 MB/s eta 0:00:00
Requirement already satisfied: scipy in c:\users\hj\anaconda3\lib\site-packages (from xgboost) (1.9.1)
Requirement already satisfied: numpy in c:\users\hj\anaconda3\lib\site-packages (from xgboost) (1.21.5)
Installing collected packages: xgboost
Successfully installed xgboost-1.7.3

In [140]:
from xgboost import XGBClassifier
model_xg = pipe_model_func(XGBClassifier())
hyperparameter_dict = {'xgbclassifier__max_depth':range(3,7),
                       'xgbclassifier__sub_sample' : [0.5,0.8],
                       'xgbclassifier__n_estimators' :[50,100,150],
                       'xgbclassifier__gamma' :[2,4,6,8]}
grid_model = GridSearchCV(model_xg, param_grid = hyperparameter_dict,cv=3,
                          scoring='accuracy',n_jobs=-1)
grid_model.fit(X_train,Y_train)
best_XG = grid_model.best_estimator_
evaluation_func(best_XG)
#grid_model.get_params().keys()

[07:42:10] WARNING: C:/buildkite-agent/builds/buildkite-windows-cpu-autoscaling-group-i-08de971ced8a8cdc6-1/xgboost/xgboost-ci-windows/src/learner.cc:767:
Parameters: { "sub_sample" } are not used.

학습능력평가
              precision    recall  f1-score   support

         0.0       0.30      0.46      0.36       126
         1.0       0.49      0.41      0.45       302
         2.0       0.48      0.31      0.38       602
         3.0       0.41      0.33      0.37       755
         4.0       0.38      0.49      0.43      1122
         5.0       0.37      0.35      0.36      1042
         6.0       0.50      0.35      0.41       501
         7.0       0.42      0.52      0.46       660
         8.0       0.41      0.46      0.43       555
         9.0       1.00      0.97      0.98        65

    accuracy                           0.41      5730
   macro avg       0.48      0.47      0.46      5730
weighted avg       0.42      0.41      0.41      5730

일반화능력평가
              precision    recall  f1-score   support

         0.0       0.09      0.09      0.09        67
         1.0       0.11      0.10      0.10       133
         2.0       0.21      0.14      0.16       270
         3.0       0.23      0.19      0.21       306
         4.0       0.29      0.41      0.34       448
         5.0       0.27      0.25      0.26       458
         6.0       0.15      0.10      0.12       197
         7.0       0.28      0.29      0.28       319
         8.0       0.18      0.24      0.21       232
         9.0       1.00      1.00      1.00        26

    accuracy                           0.25      2456
   macro avg       0.28      0.28      0.28      2456
weighted avg       0.24      0.25      0.24      2456

- ### **GradientBoostingClassifier()**

In [ ]:
model_gb = pipe_model_func(GradientBoostingClassifier())
GB = model_gb.fit(X_train,Y_train)
evaluation_func(GB)

In [ ]:
model_gb = pipe_model_func(GradientBoostingClassifier())
hyperparameter_dict = {'gradientboostingclassifier__max_depth':range(10,16),
                       'gradientboostingclassifier__min_samples_leaf' : [1,3,7,10],
                       'gradientboostingclassifier__min_samples_split' : [1,2,3,5,10],
                       'gradientboostingclassifier__learning_rate' : [0.05]}
grid_model = GridSearchCV(model_gb, param_grid = hyperparameter_dict,cv=5,
                          scoring='accuracy',n_jobs=-1, verbose=1)
grid_model.fit(X_train,Y_train)
best_GB = grid_model.best_estimator_
evaluation_func(best_GB)